/************************
Designed by : MulticWebCreations (MW3 Creations)
************************/
/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Capriola|Roboto:500,400|Open+Sans:400,600|Lobster);

/* Basic CSS starts */

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
	width: 100%;
	height: 100%;
}

/* Some Common Classes 
-----------------------*/

/* Mozilla based browsers */
::-moz-selection {
	background: #3c5f87;
	color: #FFF;
}

/* Works in Safari */
::selection {
	background: #3c5f87;
	color: #FFF;
}

/* Links */
a {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

/* Headings */
h1, h2, h3, h4 {
	padding-bottom: 12px;
	font-family: "Lobster";
	color: #b13533;
}
.navbar-fixed-top {
    margin-top: 34px !important;
}

 


/* Top Header */
.top-nav {
    background: #3C5F87;
    border: 1px solid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
body.logged-in .top-nav{
	top:30px;
}


.top-nav .topright li {
    font-size: 10px;
    padding-left: 15px;
}
.container-inner{
	margin-top: 170px;
}  
.main-container{
	margin-bottom: 15px;
}
@media(min-width:767px) {
	.top-nav .topright li {
		padding-right: 25px;
		padding-left: 0;
	}
}

.top-nav li, 
.top-nav a {
    display: table-cell;
    vertical-align: middle;
    height: 32px;
	color: #f2f2f2;
	text-transform: uppercase;
}

.top-nav li a:hover {
	text-decoration: underline;
}

/* Social Icons Style */
.top-nav .social, 
.top-nav .topright {
	margin: 0;
	list-style: none;
}

@media(min-width:767px) {
	.top-nav .social, 
	.top-nav .topright {
		padding: 0 10px;
	}
}

.top-nav .social li {
    font-size: 22px;
    padding-right: 25px;
	font-size: 17px;
}

.top-nav .social li a {
	color: #333;
	text-shadow: 0px 1px 1px #aaaaaa;
}

.top-nav .social li a:hover {
	color: #fff;
}

.form-wrapper {
	position: relative;
}

/* navbar replacement */
.navbar {
    border: 0;
	border-radius: 0;
    min-height: 91px;
	background: #b13533;
	-webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.33);
    margin-bottom: 0px;
	z-index: 50;
}

.navbar-brand {
    padding: 25px 15px;
}

.navbar-nav > li > a {
    padding: 22px 15px 15px;
	text-transform: uppercase;
	color: #fff;
	font-family: "Capriola";
}

@media(min-width:767px) {
	.navbar-nav > li > a {
		line-height: 61px;
	}
}

.nav>li>a:hover {
	text-decoration:none;
	background-color:#eee;
	color: #000;
}

.nav>li>a:focus {
	background: none;
}

.navbar-toggle {
    padding: 9px 10px;
    margin-top: 17px;
    margin-right: 10px;
    margin-bottom: 8px;
}



.search-form .form-wrapper{
	margin: 5px 0;
}
.search-form .form-group {
    margin: 0px;
}

/*.search-form {
	width: 250px;
	text-align: right;
}*/

.topNavSearch .form-text {
    float: right;
    width: 65%; 
	font-size: 13px;
}

.topNavSearch button {
	position: absolute;
	right: 0;
	top: 0;
        border-radius: 0 4px 4px 0;
    
}

.search-form .form-text:hover{
 transition: all 0.35s, border-radius 0s;	
}



.search-form .form-text:hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
 



/* Navbar Toggle fixed for SM-Device 
====================================--- */
@media (max-width: 992px) {
	.navbar-header {
		float: none;
	}
	.navbar-left, .navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display:block !important;
	}
}

/* Carousel Replacement */
.carousel-inner .item img {
	margin: 0 auto;
}

.carousel-caption {
    left: 10%;
    right: 10%;
    padding-bottom: 30px;
	bottom: 20%;
}

.carousel-caption h2 {
	text-transform: uppercase;
	padding-bottom: 0;
	margin: 10px 0 0 0;
	font-family: "Roboto";
	color: #fff;
	font-size: 11px;
}

.carousel-caption h2 i {
	background-color: rgba(0, 0, 0, 0.5);
	font-style: normal;
	padding: 0 15px;
	line-height: 20px;
}

@media(min-width:641px) {
	.carousel-caption h2 {
		line-height: 36px;
		font-size: 22px;
	}
}

@media(min-width:992px) {
	.carousel-caption h2 {
		line-height: 46px;
		font-size: 30px;
	}
}

/* Main Content Area 
----------------------*/

/* welcome */
.welcome {
	padding: 80px 0;
}

.welcome p {
	font-size: 18px;
	line-height: 34px;
}

.welcome a:hover {
	color: #cc2b29;
}

/* Description Block
-------------------- */

.description {
	padding: 80px 0;
	background: #3c5f87;
	color: #fff;
}

/* Replace class .fa-5x font-size */
.description .fa-5x {
	font-size: 140px;
}

/* description heading */
.description h3 {
	text-transform: uppercase;
	font-family: "Open Sans";
	color: #fff;
}

/* xs devices hr */
.description hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border-color: #3d6ca3;
}

/* Services
------------ */

.services {
	padding: 80px 0 120px;
	border-top: 1px solid #e5e5e5;
}

/* sortable */
.newSection ol, ul {
	list-style:none;
	margin:0;
	padding:0;
}

.ff-container {
	margin: 10px auto 30px;
}

.ff-container label {
	height: 30px;
	cursor: pointer;
	text-align: center;
	color: #999;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	float:left;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) and (orientation : portrait) {
	.ff-container label {
		line-height: 30px;
		font-size: 11px;
	}
}

.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3 {
	color: #61456a;
}

.ff-container input {
	display: none;
}

.ff-items {
	position: relative;
	margin: 0px auto;
	padding-top: 25px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) and (orientation : portrait) {
	.ff-items {
		position: relative;
		margin: 0px auto;
		padding-top: 15px;
	}
}

.ff-items li img {
	display: block;
	width: 100%;
}

.ff-items li {
	margin: 0 0 30px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3 {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) and (orientation : portrait) {
	.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
	.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
	.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3 {
		opacity: 1;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1),
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2),
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) {
	opacity: 0.1;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1) span,
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2) span,
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) span {
	display:none;
}

/* hover effect on the sortable gallery */
*, *:after, *:before {
	border-box;
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}

.grid {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style for the hover */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	background: #3085a3;
}

.grid figure:hover {
	background: #3085a3;
}

.grid figure img {
	position: relative;
	display: block;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption, .grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-family: "Open Sans";
	color: #fff;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
	margin-top: 40px;
}

@media(min-width:769px) {
	.grid figure h2,
	.grid figure p {
		margin: 0;
		margin-top: 10px;
	}
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/* Sortable hover Image Effects 
------------------------------*/
figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico figcaption::before,
figure.effect-chico h2 {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover h2 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 69.5em) {
	.grid figure figcaption {
		font-size: 90%;
	}
}

@media screen and (max-width: 41.5em) {
	.grid figure {
		width: 100%;
	}
}

/* information area
---------------------*/

.information {
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ),
    /* bottom, image */
    url(../images/fixed-bg.jpg);
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding: 60px 0;
	color: #fff;
}

.information h2 {
	color: #fff;
}

/* information blocks backgrounds hover effects */
.box {
	padding: 2em;
	display: block;
	height: auto;
	min-height: 340px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-animation: down-bump 0.4s ease; /* Safari 4+ */
	-moz-animation: down-bump 0.4s ease; /* Fx 5+ */
	-o-animation: down-bump 0.4s ease; /* Opera 12+ */
	animation: down-bump 0.4s ease; /* IE 10+, Fx 29+ */
}

.box h2 {
	font-weight: 400;
	letter-spacing: -1.5px;
	line-height: 1.2;
}

.box h3 {
	font: 0.8em "Lucida Grande", serif;
}

.box:hover {
	background: rgba(255, 255, 255, 0.50);
	background-position: 100% 100%;
	-webkit-animation: up-bump 0.4s ease; /* Safari 4+ */
	-moz-animation: up-bump 0.4s ease; /* Fx 5+ */
	-o-animation: up-bump 0.4s ease; /* Opera 12+ */
	animation: up-bump 0.4s ease;
	border: 1px solid #000;
}

.box:hover h2 {
	color: #000;
}

.box:hover p {
	color: #000;
}

.box:hover h2 span {
	color: white;
}

.box:hover h3 {
	color: #999;
}

/* Information Box Animation */
@-webkit-keyframes up-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 1.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@-moz-keyframes up-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 1.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@-o-keyframes up-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 1.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@keyframes up-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 1.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@-webkit-keyframes down-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 2.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@-moz-keyframes down-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 2.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@-o-keyframes down-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 2.5em;
	}
	100% {
		padding-top: 2em;
	}
}

@keyframes down-bump {
	0% {
		padding-top: 2em;
	}
	50% {
		padding-top: 2.5em;
	}
	100% {
		padding-top: 2em;
	}
}

.box img {
	border: 2px solid #f2f2f2;
}

/* Clients Slider */
.clients {
	padding: 80px 0;
}

/* Slick Slider Styling */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-loading .slick-list {
	background: white url("./ajax-loader.gif") center center no-repeat;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-list,
.slick-track, .slick-slide,
.slick-slide img {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	zoom: 1;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

.slick-slide img {
	display: block;
	height: auto;
	margin: auto;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -10px;
	padding: 0;
	border: none;
	outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
	font-family: "FontAwesome";
	font-size: 20px;
	line-height: 1;
	color: #000;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: 0;
	top: 65px;
}

.slick-prev:before {
	content: "\f104";
}

.slick-next {
	right: 0;
	top: 65px;
}

.slick-next:before {
	content: "\f105";
}

/* Dots */
.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "\f111";
	width: 20px;
	height: 20px;
	font-family: "FontAwesome";
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: black;
	opacity: 0.75;
}

/* Footer Style
---------------- */

.dark-bg {
	background: #262626;
}

.footerBlock {
	padding: 40px 0 60px;
	color: #c6c6c6;
}

/* footer heading */
.footerBlock h3 {
	color: #fff;
	padding-bottom: 22px;
}

/* tweeter block */
.tweets p {
	margin-bottom: 20px;
}

.tweets span {
	color: #fff;
	line-height: 26px;
}

/* photo stream block */
.thumbs li {
	float: left;
	width: 52px;
	margin: 0 12px 12px 0;
}

.thumbs li img {
	border: 1px solid transparent;
	border-radius: 4px;
}

/* quick links block */
.footer-links li {
	position: relative;
	line-height: 24px;
}

.footer-links li a {
	color: #c6c6c6;
}

.footer-links li a:hover {
	padding-left: 10px;
	color: #428BCA;
}

/* QL hover */

.footer-links li:hover:before {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
    color: #c6c6c6;
	font-size: 9px;
	position: absolute;
	top: 1px;
}

/* bottom footer */
.footer-bottom {
	background: #000;
	padding: 15px 0 0 0;
	line-height: 40px;
}

.copyright {
	font-size: 12px;
}

/* social icons */
.footer-social li {
	float: left;
	padding: 0 12px;
}

.footer-social li a {
	color: #333;
}

.footer-social li a:hover {
	color: #ccc;
}

/* ENDS */

.alignment-fix {
	text-align: center;
}

@media (min-width: 992px) {
	.alignment-fix {
		text-align: left;
	}
}
@media (max-width: 767px) {
	.alignment-fix {
		text-align: left;
	}
}